@page "/Prioridades"
@inject HttpClient httpClient
@inject NavigationManager navigation

<PageTitle>Registro de Prioridades</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-header alert-secondary" style="color: white; background-color: royalblue;">
            <NavLink class="btn btn-light float-end" href="CreatePrioridades">Registrar Prioridades</NavLink>
            <h1><strong>Consultas</strong></h1>
            <h3>Prioridades</h3>
        </div>

        <table class="table table-striped table-bordered">
            <thead>
                <tr class="text-center">
                    <th>Id</th>
                    <th>Descripción</th>
                    <th>Días compromiso</th>
                    <th>Ver</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prioridad in listaPrioridades)
                {
                    <tr class="text-center">
                        <td>@prioridad.PrioridadesId</td>
                        <td>@prioridad.Descripcion</td>
                        <td>@prioridad.DiasCompromiso</td>
                        <td><button class="btn btn-success bi bi-book" @onclick="() => Ver(prioridad.PrioridadesId)"></button></td>
                        <td><button class="btn btn-primary bi bi-pencil" @onclick="() => Editar(prioridad.PrioridadesId)"></button></td>
                        <td><button class="btn btn-danger bi bi-trash" @onclick="() => Eliminar(prioridad.PrioridadesId)"></button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    public List<Prioridades> listaPrioridades = new List<Prioridades>();

    protected override async Task OnInitializedAsync()
    {
        listaPrioridades = await httpClient.GetFromJsonAsync<List<Prioridades>>("api/Prioridades");
    }

     private void Ver(int prioridadId)
     {
         navigation.NavigateTo($"/ViewPrioridades/{prioridadId}");
     }

    private void Editar(int prioridadId)
    {
        navigation.NavigateTo($"/EditPrioridades/{prioridadId}");
    }

    private void Eliminar(int prioridadId)
    {
        navigation.NavigateTo($"/DeletePrioridades/{prioridadId}");
    }
}
