@page "/ViewPrioridades"
@using Shared.Models
@page "/ViewPrioridades/{PrioridadesId:int}"
@inject HttpClient httpClient

<PageTitle>Ver Prioridades</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		<div class="card-header" style="color: white; background-color: royalblue;">
			<h1 class="fw-bold">Ver</h1>
		</div>
		<div class="card">
			<div class="card-body">
				<table class="table table-bordered text-center">
					<thead>
						<tr>
							<th>Id</th>
							<th>Descripci&oacute;n</th>
							<th>D&iacute;as de compromiso</th>
						</tr>
						@foreach (var prioridades in listaPrioridades)
						{
							<tr>
								<td>@prioridades.PrioridadesId</td>
								<td>@prioridades.Descripcion</td>
								<td>@prioridades.DiasCompromiso</td>
							</tr>
						}
					</thead>
				</table>
			</div>
		</div>
		<div class="card-footer">
			<a href="/Prioridades" class="btn btn-primary bi bi-house"> Atrás</a>
		</div>
	</div>
</div>

@code {

	[Parameter]
	public int PrioridadesId { get; set; }
	public Prioridades prioridades { get; set; } = new Prioridades();
	public List<Prioridades> listaPrioridades = new List<Prioridades>();

	protected override async Task OnInitializedAsync()
	{
		listaPrioridades = await httpClient.GetFromJsonAsync<List<Prioridades>>("api/Prioridades");
	}
}
