@page "/ViewPrioridades"
@page "/ViewPrioridades/{PrioridadesId:int}"
@using Shared.Models
@inject HttpClient httpClient

<PageTitle>Ver Prioridades</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-header" style="color: white; background-color: royalblue;">
            <h1 class="fw-bold">Ver</h1>
        </div>
        <div class="card">
            <div class="card-body">
                @if (prioridades != null)
                {
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Descripción</th>
                                <th>Días de compromiso</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@prioridades.PrioridadesId</td>
                                <td>@prioridades.Descripcion</td>
                                <td>@prioridades.DiasCompromiso</td>
                            </tr>
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No se encontró ninguna prioridad.</p>
                }
            </div>
        </div>
        <div class="card-footer">
            <a href="/Prioridades" class="btn btn-primary bi bi-house"> Atrás</a>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public int PrioridadesId { get; set; }
    public Prioridades prioridades { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (PrioridadesId > 0)
        {
            prioridades = await httpClient.GetFromJsonAsync<Prioridades>($"api/Prioridades/{PrioridadesId}");
        }
    }
}
